{% extends './index.html' %} {% load static %} {% block authorArticles %}

<div class="Myarticles">
    <div class="pageName">My Artices</div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Author Name | Jun 18, 2021

        </div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology. <img src={% static 'download.png' %}></div>

        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Author Name | Jun 18, 2021

        </div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology. <img src={% static 'download.png' %}></div>
        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Author Name | Jun 18, 2021</div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology.</div>
        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Catherine Offord | Jun 18, 2021</div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology.</div>
        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Catherine Offord | Jun 18, 2021</div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology.</div>
        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Catherine Offord | Jun 18, 2021</div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology.</div>
        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Catherine Offord | Jun 18, 2021</div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology.</div>
        <br/>
    </div>
    <div class="MyarticlesParam">
        <div class="articleTilte">African Coelacanths May Live to Be 100 : Study</div>
        <div class="articleAbstract">The African coelacanth, a rare species that’s stayed much the same for the last 400 million years, has a lifespan of about 100 years, around five times longer than previously thought, according to a paper published yesterday (June 17) in Current
            Biology. Researchers used polarized light microscopy to examine scales collected from 27 fish captured between 1953 and 1991 and estimated, based on the structural patterns in the specimens, that the individuals ranged in age from 5 to 84
            years.
        </div>
        <div class="articleDate">Catherine Offord | Jun 18, 2021</div>
        <div class="articleTilte">Keywords:</div>
        <div class="articleFooter">
            <div class="articleKeys">aging, coelacanth, evolution, fish, gestation, icthyology, life history, lifespan, Light microscopy, living fossils, marine biology, nutshell, pregnancy, zoology.</div>
        </div>
    </div>

</div>
{% endblock authorArticles %}