{% extends './layout/formLayout.html' %}
{% load i18n %}
{% block title %}Password Reset Done{% endblock title %}
	{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				
					<span class="login100-form-title p-b-32">
						Password Reset Done
					</span>

					<div >
					  <p>Your password has been set. You may go ahead and log in now.</p>
                      </br>
					</div>
				 
					<div class="container-login100-form-btn">
                    <a  href={% url 'accounts:login' %}><button type="button" class="login100-form-btn">{% trans 'Log in' %}</button>  </a>
						{% comment %} <button class="login100-form-btn" >
							Log in
						</button> {% endcomment %}
					</div>


				
			
			</div>
		</div>
	</div>


    {% endblock body %}