{% extends './layout/formLayout.html' %}
{% block title %}Password Reset Sent{% endblock title %}
	{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<span class="login100-form-title p-b-32">
						Password Reset Sent
					</span>
				<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
				</br>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
				
				
			</div>
		</div>
	</div>


    {% endblock body %}