{% extends 'blank.html' %}
{% block Title %}Authors Guide{% endblock Title %}
{% block body %}
<h3>Formatting Guidelines</h3>
<ul class="list">
<li>Authors should submit their papers in English of up to 10 double column pages, presenting the results of original research or innovative practical applications relevant to the journal.</li>
<li>Authors must ensure the accuracy of citations, quotations, diagrams, tables and maps.</li>
<li>Figures and images must be clear and easy to view.</li>
<li>Figures and tables need to be placed where they are to appear in the text. If preferred, you can also place images and tables at the end of your article. Please do not submit figures or tables as a separate document.</li>
<li>Papers must be formatted according to the Paper Format that can be downloaded from the <a class="lnk_red" href="/Home/Downloads">Downloads Section</a> of the website.</li>
</ul>
<h3>Publication Ethics and Malpractice Statement</h3>
<p>Publication Ethics is an essential component of open access publication, The statement and related policies are available in detail in the Publication Policies section of our website at <a class="lnk_red" href="/Publications/Policies">www.thesai.org/Publication/Policies</a>.</p>
<h3>Originality and Plagiarism</h3>
<p>The authors should ensure that they have written entirely original works, and if the authors have used the work and/or words of others that this has been appropriately cited or quoted.</p>
<p>Plagiarism can be academically punishable. We use iThenticate –a powerful plagiarism detection software to verify article originality. This is followed by a complete report, highlighting problematic sections and providing expert suggestions for improvement.</p>

{% endblock body %}